{% extends "base.html" %}

{% block content %}

<form action = "/" methods="POST">
    
    <label>Username</label><br>
    <input id ="user" type="text" name="username"> <br>
    <label>Password<br>
        <input id="pswd" type="password" name="password">
    </label>
    <br>
    <label>Verify Password:</label><br>
    <input  type="password" name="password_confirmation">
    <br>
    <label>Email Address:<br>
       <input type="email" name="email-address" >
   </label>
   <br>
   <br>
   <input type="submit" value="Submit">
</form>

{% if username|length < 0 %}


{% endif %}

{% endblock %}